<app-todo-item></app-todo-item>
<hr />
<ul class="list-group">
  <a *ngFor="let todo of todos">
    <span (click)="onDeleteTodo()">&times;</span> {{ todo.title }}
  </a>
</ul>

<!-- *ngFor="let todosItem of todos; let i = index"
      [todo]="todosItem"
      [index]="i" -->
<!-- 
<h1>add your Todo</h1>
<input
  placeholder="Add Todo"
  type="text"
  name="todo"
  id="todo"
  [(ngModel)]="todoTitle"
  (keyup.enter)="addTodo()"
/>
<div *ngFor="let todo of todoFiltered()">
  <input type="checkbox" [(ngModel)]="todo.completed" />
  {{ todo.title }}
  <span (click)="onDelete(todo.id)"> &times;</span>
</div>
<div>
  <div>
    <button class="btn btn-primary mr-1" (click)="filter = 'all'">
      All
    </button>
    <button class="btn btn-primary mr-1" (click)="filter = 'active'">
      Active
    </button>
    <button class="btn btn-primary mr-1" (click)="filter = 'completed'">
      Completed
    </button>
  </div>
  <button (click)="onSaveData()">Save Todos</button>
</div> -->
