<div class="container">
  <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
    <p>Fill out your information!</p>
    <div class="form-group">
      <label>E-mail address</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        email
        ngModel
        #email="ngModel"
        placeholder="Enter e-mail"
      />
    </div>
    <!-- <label *ngIf="email.touched && email.invalid" class="alert alert-danger"
      >This email is invalid</label
    > -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="pass"
        required
        ngModel
        password
        #password="ngModel"
        class="form-control"
        placeholder="Enter password"
      />
    </div>
    <!-- <label
      *ngIf="password.touched && password.invalid"
      class="alert alert-danger"
      >This password is invalid</label
    > -->
    <button [disabled]="!authForm.valid" class="btn btn-primary">
      Sign Up
    </button>
  </form>
</div>
