<div class="container">
  <form action="">
    <p>Fill out your information!</p>
    <div class="form-group">
      <label for="email">E-mail address</label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        email
        placeholder="Enter e-mail"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="pass"
        required
        password
        class="form-control"
        placeholder="Enter password"
      />
    </div>
    <button class="btn btn-primary">Sign Up</button>
  </form>
</div>
